.white{color: blue;}
body{text-align: center;}
.black{background-color: aqua;color: red; border-radius: 20px;}
.red{color:white;background-color: red; border-radius: 20px;}
.i{color: white;background-color: black; font-size: 30px;border-radius: 10px;}
.you{background-color: brown;color: white;font-size: 30px;border-radius: 10px;}
.he{background-color: green;color: white;font-size: 30px;border-radius: 10px;}
.she{background-color: blueviolet;color: white;font-size: 30px;border-radius: 10px;}
.it{background-color: aquamarine;color: white;font-size: 30px;border-radius: 10px;}
.they{background-color: black; color: aqua;}




